.input-wrapper {
    position: relative;
}

.input-wrapper .btn-enter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
}

.text-input {
    padding: .5rem 3.75rem .5rem .5rem;
    border-radius: .75rem;
    border: 1px solid var(--gray-400);
    background-color: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-500);
    width: 100%;
    line-height: 2.5rem;
}

.text-input:hover,
.text-input:active,
.text-input:focus {
    outline-offset: -1.5px;
    outline: 1.5px solid var(--primary-color);
    caret-color: var(--primary-color);
}

.text-input:placeholder-shown+.btn-enter {
    cursor: unset;
    pointer-events: none;
    opacity: .6;
}