.profile-picture {
  display: flex;
  width: fit-content;
  border: solid 2px transparent;
  border-radius: .75rem;
  background-image: linear-gradient(var(--gray-100), var(--gray-100)), var(--gradient-base);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: auto;
}

.profile-picture img {
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 0.625rem;
  border: 2px solid transparent;
}

.profile-details span {
  color: var(--gray-500);
}

.profile-details strong {
  display: block;
  color: var(--gray-600);
}

#profile {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}